.resume .resume-side {
  background-color: var(--surface-color);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.resume .resume-side .profile-img {
  text-align: center;
}

.resume .resume-side .profile-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 5px solid color-mix(in srgb, var(--accent-color), transparent 85%);
  border-radius: 50%;
}

.resume .resume-side h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--heading-color);
  font-weight: 600;
}

.resume .resume-side ul.contact-info{
  padding-left: 0;
}

.resume .resume-side .contact-info li {
  margin-bottom: 1rem;
  list-style: none;
}

.resume .resume-side .contact-info li a{
  color: var(--default-color);
}
.resume .resume-side .contact-info li a:hover{
  color: var(--accent-color);
}

.resume .resume-side .contact-info li i {
  width: 25px;
  margin-right: 0.5rem;
}

.resume .resume-side .skill-item {
  margin-bottom: 1.5rem;
}

.resume .resume-side .skill-item span {
  font-size: 0.9rem;
  color: var(--default-color);
}

.resume .resume-section {
  margin-bottom: 3rem;
}

.resume .resume-section h3 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  color: var(--heading-color);
  font-weight: 600;
}

.resume .resume-section .resume-item {
  padding-left: 1.5rem;
  border-left: 2px solid color-mix(in srgb, var(--accent-color), transparent 80%);
  margin-bottom: 2rem;
  position: relative;
}

.resume .resume-section .resume-item:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: -9px;
  top: 0;
  background: var(--accent-color);
}

.resume .resume-section .resume-item h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--heading-color);
  font-weight: 600;
}

.resume .resume-section .resume-item h5 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--accent-color);
}

.resume .resume-section .resume-item .company {
  font-size: 0.95rem;
  margin-bottom: 1rem;
  color: var(--heading-color);
  opacity: .5;
}

.resume .resume-section .resume-item ul {
  padding-left: 1.2rem;
}

.resume .resume-section .resume-item ul li {
  margin-bottom: 0.5rem;
  color: var(--default-color);
}

.resume .resume-section .resume-item p {
  color: var(--default-color);
  margin-bottom: 0;
}

@media (max-width: 991.98px) {
  .resume .resume-side {
    margin-bottom: 2rem;
  }
}
